.SideDrawer{
    position: fixed;
    width:280px;
    max-width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #fff;
    padding:32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out
}
@media(min-width:500px){
    .SideDrawer{
        display: none;
    }
    .mobiOnly{
        display: none;
    }
}


.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
}
.Logo1{
    height:11%;
}
.Logo1 img{
    height: 100%;
}